extends layout

block content
  
  #overDiv
    #main.container
      .row
        .box
          .form-group.col-lg-12
            .cent
              p
                input#searchTerm.form-control(type='text', placeholder='Search')
                a.tooltips(href='#')
                  img(src='/images/tool.png')
                  span
                    strong Example input
                    br
                    | Fun holiday.
                    br
                    | Tropical destinations.
                    br
                    | Romantic paradise.  
              
              p
                select.form-control
                  option(value='' disabled selected, style="color:#999") Location
                  option(value='CPT') Cape Town
                  option(value='JHB') Johannesburg
                  option(value='DRB') Durban
                a.tooltips(href='#')
                  img(src='/images/tool.png')
                  span
                    strong Example input
                    br
                    | Select your departure city. 

              a#search(type='button')
                button#search.btn.btn-default(onclick='showResults()') Submit
              a.tooltips(href='#')  
                button#more.btn.btn-default(type='button', onclick='showDiv()') More
                span
                    strong More Button
                    br
                    | Lets you have a more specific search with dates and price ranges.

    #moreOptions.container(style='display:none;')
      .row
        .box
          .form-group.col-lg-12
            .cent
              p
                input#dep.form-control2(type='date')
                span &nbsp returning &nbsp
                input#ret.form-control2(type='date')
              p    
                input#min.form-control1(type='number', placeholder='Minimum fair') 
                span &nbsp to &nbsp
                input#max.form-control1(type='number', placeholder='Maximum fair')

              a#search1(type='button')
                button#search1.btn.btn-default(onclick='showResults()') Submit

    #pricing-table.clear(style='display:none;')      
      #cent 

    .container
      .row
        .box  
          .form-group.col-lg-12
            #myCarousel.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                li(data-target='#myCarousel', data-slide-to='3')
              .carousel-inner(role='listbox')
                .item.active
                  img(src='/images/argentina.jpg', alt='Chania')
                  .carousel-caption
                    h3 Snow
                .item
                  img(src='/images/australia.jpg', alt='Chania')
                  .carousel-caption
                    h3 Desert
                .item
                  img(src='/images/Himalayas.jpg', alt='Flower')
                  .carousel-caption
                    h3 Scenery
                .item
                  img(src='/images/Japan.jpg', alt='Flower')
                  .carousel-caption
                    h3 Flowers
              // Left and right controls
              a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next  
       
    .popUpBannerBox <!-- Full Width/Height Background -->
      .popUpBannerInner <!-- Center Inner Container -->
        .popUpBannerContent <!-- Content -->
          h2 Help us help you!
          p
            | Please enter rating of this result in comparison to entered value:

            fieldset.rating
              input#star5(type='radio', name='rating', value='5')
              label(for='star5', title='Rocks!') 5 stars
              input#star4(type='radio', name='rating', value='4')
              label(for='star4', title='Pretty good') 4 stars
              input#star3(type='radio', name='rating', value='3')
              label(for='star3', title='Meh') 3 stars
              input#star2(type='radio', name='rating', value='2')
              label(for='star2', title='Kinda bad') 2 stars
              input#star1(type='radio', name='rating', value='1')
              label(for='star1', title='Sucks big time') 1 star

            p 
              | Please enter a word or phrase that would best describe the holiday if the one you used to search does not so so well you just chose.
            input#terms.form-control(type='text', placeholder='Keyword/Phrase')
            br
            br  
            p
              a#sub(type='button')
                button#sub.btn.btn-default(onclick='showResults()') Submit
              a#skip(type='button')
                button.btn.btn-default(onclick='showResults()') Skip  

              