extends layout

block content
   
  .container
    .row
      .box
        .form-group.col-lg-12
          .cent
            p
              input#searchTerm.form-control(type='text', name='Search', placeholder='Search')
            
            a#search(type='button')
              button.btn.btn-default Submit
            button#more.btn.btn-default(type='button', onclick='showDiv()') More
  
    .popUpBannerBox
      .popUpBannerInner
        .popUpBannerContent
          h3 Example searches
          p Exotic destination <br> Tropical destination <br> Child friendly holidays...         
         

  #moreOptions.container(style='display:none;')
    .row
      .box
        .form-group.col-lg-12
          .cent
            p
              input.form-control2(type='date')
              span &nbsp returning &nbsp
              input.form-control2(type='date')
            p    
              input.form-control1(type='number', placeholder='Minimum fair') 
              span &nbsp to &nbsp
              input.form-control1(type='number', placeholder='Maximum fair')

            a#search(type='button')
              button.btn.btn-default Submit