doctype html
html(lang='en')
  head
    title TravelStart

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(href='/stylesheets/style1.css', rel='stylesheet')
    link(href='/stylesheets/style2.css', rel='stylesheet')
    link(href='/stylesheets/resultsCSS.css', rel='stylesheet')  
    link(href='/stylesheets/rating.css', rel='stylesheet')
    link(href='/stylesheets/banner.css', rel='stylesheet')
     
    link(href='/stylesheets/car.css', rel='stylesheet')     

  body <!-- Layout for every page-->    
    .container
      .row
        .box
          p(style='text-align:center')
            img(src='/images/travelStart.png', alt='')
    
    // Navigation
    nav.navbar.navbar-default(role='navigation')
      .container
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='#') FAQs
            li
              a(href='#') Contact Us

    //All content comes here           
    block content 

    footer
      .container
        .row
          .col-lg-12.text-center
            p
              | Project for: 
              a(href='http://www.travelstart.co.za/') TravelStart


    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/validations.js')
    script(type='text/javascript', src='/javascripts/enter.js')
    script(type='text/javascript', src='/javascripts/index.js')
    script(type='text/javascript', src='/javascripts/more.js')
    script(type='text/javascript', src='/javascripts/Banner.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    //google analytics code.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69741356-1', 'auto');
      ga('send', 'pageview');
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-69741356-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //google tag manager code.  
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KLZ2FC', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KLZ2FC');