extends layout

block content

  #cent
    #pricing-table.clear
      .plan
        h3          
          | Rome
          span $59
        a.btn.btn-default(href='') Book
        ul
          li
            |  Detail 1
          li
            |  Detail 2
          li
            |  Detail 3
          li
            a.btn.btn-default#result1(href='#', onclick="showResults()") Details
      .plan
        h3          
          | Rome
          span $59
        a.btn.btn-default(href='') Book
        ul
          li
            |  Detail 1
          li
            |  Detail 2
          li
            |  Detail 3
          li
            a.btn.btn-default#result1(href='#', onclick="showResults()") Details
      .plan
        h3          
          | Rome
          span $59
        a.btn.btn-default(href='') Book
        ul
          li
            |  Detail 1
          li
            |  Detail 2
          li
            |  Detail 3
          li
            a.btn.btn-default#result1(href='#', onclick="showResults()") Details
      .plan
        h3          
          | Rome
          span $59
        a.btn.btn-default(href='') Book
        ul
          li
            |  Detail 1
          li
            |  Detail 2
          li
            |  Detail 3
          li
            a.btn.btn-default#result1(href='#', onclick="showResults()") Details
      .plan
        h3          
          | Rome
          span $59
        a.btn.btn-default(href='') Book
        ul
          li
            |  Detail 1
          li
            |  Detail 2
          li
            |  Detail 3
          li
            a.btn.btn-default#result1(href='#', onclick="showResults()") Details    

  #details.container(style='display:none;')
    .row
      .box
        .form-group.col-lg-12
          .cent    
              img(src='/images/Rome.jpg')
              p Rome, Italy’s capital, is a sprawling, cosmopolitan city with nearly 3,000 years of globally influential art, architecture and culture on display. Ancient ruins such as the Roman Forum and the Colosseum evoke the power of the former Roman Empire. Vatican City, headquarters of the Roman Catholic Church, boasts St. Peter’s Basilica and the Vatican Museums, which house masterpieces such as Michelangelo’s Sistine Chapel frescoes.
              a.btn.btn-default(href='') Book

    